<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorLogin2</servlet-name>
        <servlet-class>CONTROLADORES.ControladorLogin2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>CONTROLADORES.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>CONTROLADORES.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>CONTROLADORES.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileController</servlet-name>
        <servlet-class>CONTROLADORES.updateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>CONTROLADORES.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassController</servlet-name>
        <servlet-class>CONTROLADORES.changePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFundraiserController</servlet-name>
        <servlet-class>CONTROLADORES.createFundraiserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImagesController</servlet-name>
        <servlet-class>CONTROLADORES.getImagesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerFundraiserController</servlet-name>
        <servlet-class>CONTROLADORES.registerFundraiserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProjectsController</servlet-name>
        <servlet-class>CONTROLADORES.getProjectsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsersController</servlet-name>
        <servlet-class>CONTROLADORES.getUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectApprovalController</servlet-name>
        <servlet-class>CONTROLADORES.projectApprovalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImagesController2</servlet-name>
        <servlet-class>CONTROLADORES.getImagesController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImagesController3</servlet-name>
        <servlet-class>CONTROLADORES.getImagesController3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProjectsController2</servlet-name>
        <servlet-class>CONTROLADORES.getProjectsController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllProjectsController</servlet-name>
        <servlet-class>CONTROLADORES.getAllProjectsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllProjectsController3</servlet-name>
        <servlet-class>CONTROLADORES.getAllProjectsController3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>CONTROLADORES.checkoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactFormController</servlet-name>
        <servlet-class>CONTROLADORES.contactFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myDonationsController</servlet-name>
        <servlet-class>CONTROLADORES.myDonationsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donationsController</servlet-name>
        <servlet-class>CONTROLADORES.donationsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setCookieController</servlet-name>
        <servlet-class>CONTROLADORES.setCookieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFileController</servlet-name>
        <servlet-class>CONTROLADORES.createFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectController</servlet-name>
        <servlet-class>CONTROLADORES.rejectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsersController2</servlet-name>
        <servlet-class>CONTROLADORES.getUsersController2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorLogin2</servlet-name>
        <url-pattern>/ControladorLogin2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileController</servlet-name>
        <url-pattern>/updateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassController</servlet-name>
        <url-pattern>/changePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFundraiserController</servlet-name>
        <url-pattern>/createFundraiserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImagesController</servlet-name>
        <url-pattern>/getImagesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerFundraiserController</servlet-name>
        <url-pattern>/registerFundraiserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProjectsController</servlet-name>
        <url-pattern>/getProjectsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsersController</servlet-name>
        <url-pattern>/getUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectApprovalController</servlet-name>
        <url-pattern>/projectApprovalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImagesController2</servlet-name>
        <url-pattern>/getImagesController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImagesController3</servlet-name>
        <url-pattern>/getImagesController3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProjectsController2</servlet-name>
        <url-pattern>/getProjectsController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllProjectsController</servlet-name>
        <url-pattern>/getAllProjectsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllProjectsController3</servlet-name>
        <url-pattern>/getAllProjectsController3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/checkoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactFormController</servlet-name>
        <url-pattern>/contactFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myDonationsController</servlet-name>
        <url-pattern>/myDonationsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donationsController</servlet-name>
        <url-pattern>/donationsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setCookieController</servlet-name>
        <url-pattern>/setCookieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFileController</servlet-name>
        <url-pattern>/createFileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectController</servlet-name>
        <url-pattern>/rejectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsersController2</servlet-name>
        <url-pattern>/getUsersController2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
